.background .view {
  background-color: rgba(0, 0, 0, 0);
}

@media (prefers-color-scheme: dark) {
  sheet.background {
    background-color: #181825;
  }

  .background .sidebar-pane {
    background-color: rgba(24, 24, 37, 0.5);
  }

  @define-color accent_color #f2cdcd;
  @define-color accent_bg_color #f2cdcd;
  @define-color accent_fg_color #cdd6f4;
  @define-color destructive_color #f38ba8;
  @define-color destructive_bg_color #f38ba8;
  @define-color destructive_fg_color #cdd6f4;
  @define-color success_color #a6e3a1;
  @define-color success_bg_color #a6e3a1;
  @define-color success_fg_color #cdd6f4;
  @define-color warning_color #f9e2af;
  @define-color warning_bg_color #f9e2af;
  @define-color warning_fg_color #cdd6f4;
  @define-color error_color #f38ba8;
  @define-color error_bg_color #f38ba8;
  @define-color error_fg_color #cdd6f4;
  @define-color window_bg_color rgba(30, 30, 46, 0.75);
  @define-color window_fg_color #cdd6f4;
  @define-color view_bg_color rgba(30, 30, 46, 0.75);
  @define-color view_fg_color #cdd6f4;
  @define-color headerbar_bg_color #181825;
  @define-color headerbar_fg_color #cdd6f4;
  @define-color headerbar_border_color rgba(49, 50, 68, 0.7);
  @define-color headerbar_backdrop_color @window_bg_color;
  @define-color headerbar_shade_color rgba(0, 0, 0, 0.07);
  @define-color headerbar_darker_shade_color rgba(0, 0, 0, 0.07);
  @define-color sidebar_bg_color rgba(24, 24, 37, 0.75);
  @define-color sidebar_fg_color #cdd6f4;
  @define-color sidebar_backdrop_color @window_bg_color;
  @define-color sidebar_shade_color rgba(0, 0, 0, 0.07);
  @define-color secondary_sidebar_bg_color rgba(17, 17, 27, 0.75);
  @define-color secondary_sidebar_fg_color @sidebar_fg_color;
  @define-color secondary_sidebar_backdrop_color @sidebar_backdrop_color;
  @define-color secondary_sidebar_shade_color @sidebar_shade_color;
  @define-color card_bg_color #181825;
  @define-color card_fg_color #cdd6f4;
  @define-color card_shade_color rgba(0, 0, 0, 0.07);
  @define-color dialog_bg_color #181825;
  @define-color dialog_fg_color #cdd6f4;
  @define-color popover_bg_color #181825;
  @define-color popover_fg_color #cdd6f4;
  @define-color popover_shade_color rgba(0, 0, 0, 0.07);
  @define-color shade_color rgba(0, 0, 0, 0.07);
  @define-color scrollbar_outline_color #11111b;
  @define-color blue_1 #89b4fa;
  @define-color blue_2 #89b4fa;
  @define-color blue_3 #89b4fa;
  @define-color blue_4 #89b4fa;
  @define-color blue_5 #89b4fa;
  @define-color green_1 #a6e3a1;
  @define-color green_2 #a6e3a1;
  @define-color green_3 #a6e3a1;
  @define-color green_4 #a6e3a1;
  @define-color green_5 #a6e3a1;
  @define-color yellow_1 #f9e2af;
  @define-color yellow_2 #f9e2af;
  @define-color yellow_3 #f9e2af;
  @define-color yellow_4 #f9e2af;
  @define-color yellow_5 #f9e2af;
  @define-color orange_1 #fab387;
  @define-color orange_2 #fab387;
  @define-color orange_3 #fab387;
  @define-color orange_4 #fab387;
  @define-color orange_5 #fab387;
  @define-color red_1 #f38ba8;
  @define-color red_2 #f38ba8;
  @define-color red_3 #f38ba8;
  @define-color red_4 #f38ba8;
  @define-color red_5 #f38ba8;
  @define-color purple_1 #f5c2e7;
  @define-color purple_2 #f5c2e7;
  @define-color purple_3 #f5c2e7;
  @define-color purple_4 #f5c2e7;
  @define-color purple_5 #f5c2e7;
  @define-color brown_1 #f5e0dc;
  @define-color brown_2 #f5e0dc;
  @define-color brown_3 #f5e0dc;
  @define-color brown_4 #f5e0dc;
  @define-color brown_5 #f5e0dc;
  @define-color light_1 #cdd6f4;
  @define-color light_2 #cdd6f4;
  @define-color light_3 #cdd6f4;
  @define-color light_4 #cdd6f4;
  @define-color light_5 #cdd6f4;
  @define-color dark_1 #cdd6f4;
  @define-color dark_2 #cdd6f4;
  @define-color dark_3 #cdd6f4;
  @define-color dark_4 #cdd6f4;
  @define-color dark_5 #cdd6f4;
}

sheet.background {
  background-color: #e6e9ef;
}

.background .sidebar-pane {
  background-color: rgba(230, 233, 239, 0.5);
}

@define-color accent_color #dd7878;
@define-color accent_bg_color #dd7878;
@define-color accent_fg_color #dce0e8;
@define-color destructive_color #d20f39;
@define-color destructive_bg_color #d20f39;
@define-color destructive_fg_color #eff1f5;
@define-color success_color #40a02b;
@define-color success_bg_color #40a02b;
@define-color success_fg_color #4c4f69;
@define-color warning_color #df8e1d;
@define-color warning_bg_color #df8e1d;
@define-color warning_fg_color #4c4f69;
@define-color error_color #d20f39;
@define-color error_bg_color #d20f39;
@define-color error_fg_color #eff1f5;
@define-color window_bg_color rgba(239, 241, 245, 0.75);
@define-color window_fg_color #4c4f69;
@define-color view_bg_color rgba(239, 241, 245, 0.75);
@define-color view_fg_color #4c4f69;
@define-color headerbar_bg_color #e6e9ef;
@define-color headerbar_fg_color #4c4f69;
@define-color headerbar_border_color rgba(204, 208, 218, 0.7);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);
@define-color headerbar_darker_shade_color rgba(0, 0, 0, 0.07);
@define-color sidebar_bg_color rgba(230, 233, 239, 0.75);
@define-color sidebar_fg_color #4c4f69;
@define-color sidebar_backdrop_color @window_bg_color;
@define-color sidebar_shade_color rgba(0, 0, 0, 0.07);
@define-color secondary_sidebar_bg_color rgba(220, 224, 232, 0.75);
@define-color secondary_sidebar_fg_color @sidebar_fg_color;
@define-color secondary_sidebar_backdrop_color @sidebar_backdrop_color;
@define-color secondary_sidebar_shade_color @sidebar_shade_color;
@define-color card_bg_color #e6e9ef;
@define-color card_fg_color #4c4f69;
@define-color card_shade_color rgba(0, 0, 0, 0.07);
@define-color dialog_bg_color #e6e9ef;
@define-color dialog_fg_color #4c4f69;
@define-color popover_bg_color #e6e9ef;
@define-color popover_fg_color #4c4f69;
@define-color popover_shade_color rgba(0, 0, 0, 0.07);
@define-color shade_color rgba(0, 0, 0, 0.07);
@define-color scrollbar_outline_color #dce0e8;
@define-color blue_1 #1e66f5;
@define-color blue_2 #1e66f5;
@define-color blue_3 #1e66f5;
@define-color blue_4 #1e66f5;
@define-color blue_5 #1e66f5;
@define-color green_1 #40a02b;
@define-color green_2 #40a02b;
@define-color green_3 #40a02b;
@define-color green_4 #40a02b;
@define-color green_5 #40a02b;
@define-color yellow_1 #df8e1d;
@define-color yellow_2 #df8e1d;
@define-color yellow_3 #df8e1d;
@define-color yellow_4 #df8e1d;
@define-color yellow_5 #df8e1d;
@define-color orange_1 #fe640b;
@define-color orange_2 #fe640b;
@define-color orange_3 #fe640b;
@define-color orange_4 #fe640b;
@define-color orange_5 #fe640b;
@define-color red_1 #d20f39;
@define-color red_2 #d20f39;
@define-color red_3 #d20f39;
@define-color red_4 #d20f39;
@define-color red_5 #d20f39;
@define-color purple_1 #ea76cb;
@define-color purple_2 #ea76cb;
@define-color purple_3 #ea76cb;
@define-color purple_4 #ea76cb;
@define-color purple_5 #ea76cb;
@define-color brown_1 #dc8a78;
@define-color brown_2 #dc8a78;
@define-color brown_3 #dc8a78;
@define-color brown_4 #dc8a78;
@define-color brown_5 #dc8a78;
@define-color light_1 #4c4f69;
@define-color light_2 #4c4f69;
@define-color light_3 #4c4f69;
@define-color light_4 #4c4f69;
@define-color light_5 #4c4f69;
@define-color dark_1 #4c4f69;
@define-color dark_2 #4c4f69;
@define-color dark_3 #4c4f69;
@define-color dark_4 #4c4f69;
@define-color dark_5 #4c4f69;
